body {
    background-color: #000000;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1{
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    font-style: italic;
    width: auto;
    height: 90px;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 4px;
    margin-left: 550px;
    margin-top: -80px;
}
.navbar {
    background-color: #7719b9 ;
    color: white;
}
button {
    background-color:#7719b9;
    color: #cdc8be;
    border: none;
    margin-left: 10px;
    padding: 10px;
}
.header button:hover {
    background-color:black;
}
.logo-img{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 1550px;
    margin-top: -85px;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    font-style: italic;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    color: #fff;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 300px;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.carousel img {
    height: 650px;
}
.carousel {
    height: 400px;
    max-width: 1900px;
    margin: 0 auto;
    top: -200px;
}
.titulo{
    font-family: "Oswald", sans-serif;
    font-size: 80px;
    font-style: italic;
    margin-top: 70px;
    margin-bottom: -90px;
    color: #fff;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;                 
    margin-top: 90px;
}
.card {
    font-family: "Oswald", sans-serif;
    width: 200px;           
    height: 500px ;
    background: #7719b9;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    align-items: center;
    padding-bottom: 10px;
    flex-direction: column;
    margin-left: 190px;
    margin-top: 90px;
}
.card-img {
    width: 100%;
    height: 200px;
    display: block;
}
.h3{
    font-size: 40px;
}
.p-text{
    font-size: 20px;
}
.btn{
    display: block;
    width: 80%;                  
    padding: 12px ;
    background: #000000;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
}
.btn:hover {
    background: #222;
}
.deporte-img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 880px;
}
.titulo-1{
    margin-left: 120px;
    margin-top: -150px;
    text-align: center;
    margin-left: -200px;
    color: #fff;
}
.texto-1{
    margin-left: 210px;
    margin-top: 0px;
    color: #fff;
}
.Entrega-img{
    width: 150px;
    height: 150px;
    margin-top: -90px;
    margin-left: 880px;
}
.titulo-2{
    margin-left: 120px;
    margin-top: -90px;
    text-align: center;
    margin-left: -200px;
    color: #fff;
}
.texto-2{
    margin-left: 350px;
    margin-top: -60px;
}
.Cambios-img{
    width: 150px;
    height: 150px;
    margin-top: -90px;
    margin-left: 870px;
}
.titulo-3{
    margin-left: 120px;
    margin-top: -90px;
    text-align: center;
    margin-left: -100px;
    color: #fff;
}
.texto-3{
    margin-left: 280px;
    margin-top: -60px;
}
.Contactanos{
    width: 150px;
    height: 350px;
    margin-left: 1100px;
    margin-top: -100px;
    text-align: center;
}
.texto-4{
    text-align: left;
    margin-left: 400px;
    margin-top: -100px;
}
.texto-5{
    text-align: left;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-6{
    text-align: left;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-7{
    text-align: left;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-8{
    text-align: left;
    margin-left: 900px;
    margin-top: -670px;
}
.texto-9{
    text-align: left;
    margin-left: 900px;
    margin-top: -200px;
}
.texto-10{
    text-align: left;
    margin-left: 900px;
    margin-top: -200px;
}
.texto-11{
    text-align: center;
    margin-left: 400px;
    margin-top: -550px;
}
.texto-12{
    text-align: center;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-13{
    text-align: center;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-14{
    text-align: center;
    margin-left: 400px;
    margin-top: -200px;
}
.texto-15{
    text-align: center;
    margin-left: 400px;
    margin-top: -200px;
}
.Redes-img{
    width: 100px;
    margin-left: 1800px;
    margin-top: -1200px;
}
.texto-16{
    text-align: center;
    margin-left: 1500px;
    margin-top: -530px;
}
.texto-17{
    text-align: center;
    margin-left: 1550px;
    margin-top: -530px;
}
.texto-18{
    text-align: center;
    margin-left: 1580px;
    margin-top: -200px;
}
.box{
    max-width: 2500px; 
    height: 130px;
    margin: 0px;
    background:#7719b9;
    margin-left: 25px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito {
    color: white;
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
    margin-left: 900px;
}

.carrito-count {
    position: absolute;
    right: 70px;
    color:white;
    margin-right: 200px;
}
#carrito {
    display: none;
}
#carrito:hover {
    position: absolute;
    display: block;
    top: 165px;
    right: 0;
    width: 300px;
    height: 150px;
    z-index: 1000;
    cursor: pointer;
}
.footer{
    border-top: 1px solid #333;
    margin-top: 250px;
    padding-top: 20px;
    text-align: center;
    color: #888;
    font-size: 0.9rem;
}




